body {
  font-family: sans-serif;
  background-color: #914ead;
}

.hello {
  font-size: 50px;
  color: white;
}

.yellow {
  background-color: #f1c40f;
}

.purple {
  background-color: #9b59b6;
}

.blue {
  background-color: #3498db;
}
